@model QuestionBulkUpload.Models.QuestionData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuestionData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Summary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuestionS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuestionS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Explaination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Explaination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Option5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Option5)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
